<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<!-- Avoid logger Spam -->
	<logger name="org.eclipse.jetty" level="INFO"/>
	<logger name="io.netty" level="INFO"/>
	<logger name="org.springframework.web.client.RestTemplate" level="INFO"/>

	<!-- Configure Twitch4J logger level -->
	<logger name="me.phlippheuer.twitch4j" level="INFO"/>

	<!-- Appender Configuration [Console] -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight([%-5level]) %logger{25} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Appender Configuration [File] -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<file>client.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>client.%i.log</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- Appender Output Configuration -->
	<root level="debug">
		<appender-ref ref="CONSOLE"/>

		<!-- Uncomment the next line to also log to a file -->
		<appender-ref ref="FILE"/>
		-->
	</root>
</configuration>
